{% extends 'base.html' %}

{% block title %}Confirmacion{% endblock %}

{% block content %}
    <main>
      <div class="container-carrito">
              
                  <h2>Detalles</h2>
                  <form action="{{ url_for('registro') }}" method="post">

                   
                      <div class="contenido titulo">
                          <label for="nombre" class="">Nombre :</label>
                          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre">
                      </div>

                      <div class="contenido titulo">
                        <label for="nombre" class="">Apellido :</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su nombre">
                    </div>

                      <div class="contenido titulo">
                          <label for="direccion" class="">Direccion</label>
                          <input type="text" class="direccion" id="direccion" name="direccion" placeholder="Ingrese su direccion">
                      </div>
                      
                      <div class="contenido titulo">
                        <label for="numero" class="">Numero Telefonico</label>
                        <input type="text" class="form-control" id="numero" name="numero" placeholder="Ingrese su Numero">
                    </div>

                    <div class="contenido titulo">
                        <label for="email" class="">Correo Electronico</label>
                        <input type="text" class="form-control" id="correo" name="correo" placeholder="Ingrese su Correo">
                    </div>

                    <button type="submit">
                        Guardar
                      </button>
              
                      <div class="botones-envio">
                              <a href="{{ url_for('paypal')}}" class="button" id="volver">Pagar </a> 
                      </div>
                  </form>

      </div>
  </main>
    
  



    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script src="{{ url_for ('static', filename='assets/js/scripts.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/carrito.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/pedido.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/compra.js') }}"></script>

</body>
</html>

{% endblock %}