<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Of King |  {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="{{ url_for('index')}}" class="logo">View Of King</a>
        
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          
          <ul>
            <li><a href="{{ url_for('nosotros')}}">Nosotros</a></li>
            <li><a href="{{ url_for('productos')}}">Productos</a></li>
            <li><a href="{{ url_for('contacto')}}">Contacto</a></li>
            <li><a href="{{ url_for('logincliente')}}">Login</a></li>
            {% block submenu %}
            <!-- contenido extra -->
                
            {% endblock %}
          </ul>
        </nav>
      </div>
    </header>




    {% block content %}
    {% endblock %}

