{% extends 'log.html' %}
{% block title %}{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="{{ url_for('static', filename='css/formulario.css') }}" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <h>Login</h>
        <form action="{{ url_for('logincli') }}" method="post">
            <div class="field email">

                <div class="input-area">
                    <input type="text" name="username" placeholder="username" id="username" required
                    class="form-control">
                </div>
                <div class="error error-txt">El Usuario no debe estar en blanco</div>
            </div>
            
            <div class="field password">
                <div class="input-area">
                    <input type="password" name="password" placeholder="Password" id="password" required
                    class="form-control">
                </div>
                <div class="error error-txt">Ingresa una contraseña</div>

            </div>
            <div class="pass-txt"><a href="#"></a></div>
            <p></p>
            <button type="submit" value="Iniciar Sesion" class="btn btn-outline-info" > Iniciar sesion </button>
        </form>
        <div class="sign-txt">Unete <a href="#">Ahora</a></div>
    </div>

    <script src="script.js"></script>

</body>
</html>
{% endblock %}
