<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Of King |  {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="{{ url_for('index')}}" class="logo">View Of King</a>
        
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          
          <ul>
           
            <li><a href="{{ url_for('admin')}}">Cerrar Sesión</a></li>
            {% block submenu %}
            <!-- contenido extra -->
            {% endblock %}
          
          </ul>
        </nav>
      </div>
    </header>




    {% block content %}
    {% endblock %}



    <footer class="footer-section">
        <div class="copyright-area">
            <div class="container-footer">
                <div class="row-footer">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2022, todos los derechos reservados <a href="index.html">VIEW OF KING</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </footer> 

    </body>
</html>