{% extends 'base.html' %}

{% block title %}Nosotros{% endblock %}

{% block content %}

<main>
<div class="container">
    <div class="columna1">
      <h2>Nosotros</h2>
      <p>
        <p>VIEW OF KING es una tienda virtual, aquí te vas a encontrar muchísima variedad de productos para alimentar tu pasion por la musica.  
        </p><br>
        <p>Hemos tenido siempre como prioridad ofrecer productos variados y de calidad para nuestros clientes, a precios accesibles y acompañado por un servicio al cliente de primera. </p><br>
        <p>La creación de una comunidad de clientes leales ha ayudado a VIEW OF KING a crecer y convertirse en la empresa que somos ahora. No solo somos una tienda virtual, nuestra empresa y todo nuestro equipo nos preocupamos por llevar tu pasión y amor por la musica lo mas alto posible</p><br>
      </p>
    </div>
    <div class="columna2">
      <img src="{{ url_for('static', filename='img/Nosotros.jpg') }}">
    </div>
</div>
</main>
<p></p>
<p></p>



    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="{{ url_for ('static', filename='assets/js/scripts.js') }}"></script>
</body>
</html>


{% endblock %}