{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pago</title>
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">

  <script src="https://www.paypal.com/sdk/js?client-id=AcLiLfQXbprUefKJwr9Cfq25iHg5XEXkxpaxiTCejmjkVjpvIxvaFGSKHrP5c8O_vNNMQMhD3MZQIL-b"></script>

</head>
<body>
  
<main>
<div class="container">
    <div class="columna1">
      <h2>Procesar pago</h2>
      <p></p>
      <P></P>

      <div id="paypal-button-container"></div>
      <script>
        paypal.Buttons({
          createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [{
                amount: {
                  value: '77.44' // Can also reference a variable or function
                }
              }]
            });
          },

        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
             const element = document.getElementById('paypal-button-container');
            element.innerHTML = '<h3>Thank you for your payment!</h3>';
            actions.redirect('thank_you.html');
          });
        }
      }).render('#paypal-button-container');
    </script>
    </div>
</div>
</main>



    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="{{ url_for ('static', filename='assets/js/scripts.js') }}"></script>
    {% endblock %}
</body>
</html>

