{% extends 'base.html' %}

{% block title %}productos{% endblock %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="{{ url_for('index')}}" class="logo">View Of King</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="{{ url_for('nosotros')}}">Nosotros</a></li>
            <li><a href="{{ url_for('productos')}}">Productos</a></li>
            <li><a href="{{ url_for('contacto')}}">Contacto</a></li>
            <li><a href="{{ url_for('auth.login')}}">Login</a></li>
            <li class="car"><a href="{{ url_for('carrito')}}" >
              <svg class="bi bi-cart3" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg></a>
            </li>
            {% block submenu %}
            <!-- contenido extra -->
            {% endblock %}
          </ul>
        </nav>
      </div>
    </header>


<main>

        <div class="modal" id="modal">
          <div class="modal-content">
            <img src="" alt="" class="modal-img" id="modal-img">
          </div>
          <div class="modal-boton" id="modal-boton">X</div>
        </div>

        <div class="container-productos" id="lista-productos">

          {% for producto in productos %}

          <div class="card">
            <img src="{{ url_for('static', filename= producto.imagen ) }}" class="card-img">
            <p></p>
            <h5>{{ producto.name }}</h5>
            <p>{{ producto.material }}</p>
            <p>$<small class="precio">{{ producto.precio }}</small></p>
            <p></p>
            <a href="{{url_for('paypal')}}"  class="button" data-id="{{ producto.id }}">{{ producto.href }}</a>
          </div>
          {% endfor %}
        </div>

</main>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{{ url_for ('static', filename='assets/js/scripts.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/pedido.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/compra.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/vista.js') }}"></script>
</body>
</html>

{% endblock %}

