{% extends 'base.html' %}

{% block title %}productos{% endblock %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="{{ url_for('index')}}" class="logo">View Of King</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="{{ url_for('nosotros')}}">Nosotros</a></li>
            <li><a href="{{ url_for('productos')}}">Productos</a></li>
            <li><a href="{{ url_for('contacto')}}">Contacto</a></li>
            <li><a href="{{ url_for('auth.login')}}">Login</a></li>
            <li class="car"><a href="{{ url_for('carrito')}}" >
            {% block submenu %}
            <!-- contenido extra -->
            {% endblock %}
          </ul>
        </nav>
      </div>
    </header>


<main>

        <div class="modal" id="modal">
          <div class="modal-content">
            <img src="" alt="" class="modal-img" id="modal-img">
          </div>
          <div class="modal-boton" id="modal-boton">X</div>
        </div>

        <div class="container-productos" id="lista-productos">

          {% for producto in productos %}

          <div class="card">
            <img src="{{ url_for('static', filename= producto.imagen ) }}" class="card-img">
            <p></p>
            <h5>{{ producto.name }}</h5>
            <p>{{ producto.material }}</p>
            <p>$<small class="precio">{{ producto.precio }}</small></p>
            <p></p>
            <a onclick="comprarProducto()" class="button agregar-carrito" data-id="{{ producto.id }}">{{ producto.href }}</a>
          </div>
          {% endfor %}
        </div>

</main>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{{ url_for ('static', filename='assets/js/scripts.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/carrito.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/pedido.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/compra.js') }}"></script>
    <script src="{{ url_for ('static', filename='assets/js/vista.js') }}"></script>
</body>
</html>

{% endblock %}